<div class="login-container" *ngIf="isValidToken; else errorTemplate">
  <div class="bg-rod"></div>
  <div class="login-card">
      <div class="login-img-container">
          <h2>Reset Password</h2>
      </div>
      <p>**Enter the same password in both the fields**</p>
      <div class="login-content-container" [formGroup]="passwordForm">
        <div class="input-container">
          <div class="input-label-container">
            <label>New Password</label>
          </div>
          <div class="password-container">
            <input [type]="isEye ? 'password' : 'text'" formControlName="newPassword">
            <i class="fa-solid {{isEye ? 'fa-eye' :'fa-eye-slash'}}" (click)="changePasswordType()"></i>
          </div>
        </div>
        <div class="input-container">
            <div class="input-label-container">
                <label>Confirm Password</label>
                <span></span>
            </div>
            <input type="password" formControlName="confirmPassword">
        </div>
          <button class="login-btn" (click)="changePassword()">Reset Password</button>
      </div>
  </div>
</div>

<ng-template #errorTemplate>
  <h2>Error</h2>
  <p>{{ errorMessage }}</p>
  <a routerLink="/login">Go to Login</a>
</ng-template>
  