<div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="sidebar-content-container">
        <div class="sidebar-content">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </div>
        <div class="sidebar-content" routerLink="./leave">
            <i class="fa-regular fa-clock"></i>
            <span>Time</span>
        </div>
        <div class="sidebar-content">
            <i class="fa-regular fa-file"></i>
            <span>Docs</span>
        </div>
        <div class="sidebar-content" routerLink="./user">
            <i class="fa-solid fa-user-group"></i>
            <span>People</span>
        </div>
        <div class="sidebar-content">
            <i class="fa-solid fa-blog"></i>
            <span>Blogs</span>
        </div>
    </div>
</div>