<div class="form-container">
    <form [formGroup]="userData" class="form">
        <div class="form-input-container">
        <div class="input-container">
            <label>First Name</label>
            <input type="text" formControlName="firstName" placeholder="Harry" class="form-input">
        </div>
        <div class="input-container">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" placeholder="Potter" class="form-input">
        </div>
        <div class="input-container">
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="xyz@gmail.com" class="form-input">
        </div>
        <div class="input-container">
            <label>Gender</label>
            <div class="radio-container">
                <span class="radio-input-container">
                    <input type="radio" value="Male" id="1" formControlName="gender" class="form-input-radio"> 
                    <label for="1">Male</label>
                </span>
                <span class="radio-input-container">
                    <input type="radio" value="Female" id="2" formControlName="gender" class="form-input-radio"> 
                    <label for="2">Female</label>
                </span>
            </div>
        </div>
        <div class="input-container">
            <label>Location</label>
            <input type="text" formControlName="location" placeholder="Coimbatore" class="form-input">
        </div>
        <div class="input-container">
            <label>Phone Number</label>
            <input type="text" formControlName="phoneNumber" placeholder="9876543210" class="form-input">
        </div>
        <div class="input-container" style="position: relative;" >
            <label>Reports To</label>
            <input type="text" 
                placeholder="Ajay" 
                class="form-input" 
                [ngModel]="selectedManager" 
                [ngModelOptions]="{standalone: true}" 
                (input)="onInput($event.target)" 
                (focus)="showDropdown()"
                #managerInput
                >
            <ul class="dropdown-list-search" *ngIf="searchOpen">
                <li *ngFor="let user of users" (click)="setManager(user)">
                    <app-avatar [userData]="user"></app-avatar>
                </li>
             </ul>
        </div>
        <div class="input-container">
            <label>Date of Birth</label>
            <input type="date" formControlName="dateOfBirth" class="form-input">
        </div>
        <div class="input-container">
            <label>Date of Joining</label>
            <input type="date" formControlName="dateOfJoining" class="form-input">
        </div>
        <div class="input-container">
            <label>Designation</label>
            <select formControlName="designation" class="form-input">
                <option>Trainee</option>
                <option>HR</option>
                <option>Manager</option>
                <option>Junior Developer</option>
                <option>Senior Developer</option>
            </select>
        </div>
        <div class="input-container">
            <label>Department</label>
            <select formControlName="department" class="form-input">
                <option>Engineering</option>
                <option>Finance</option>
                <option>Sales</option>
                <option>Marketing</option>
                <option>Devsecops</option>
                <option>Product</option>
                <option>People Function</option>
            </select>
        </div>
        <div class="input-container">
            <label>Roles</label>
            <div class="multi-select">
                <div class="selected-container">
                <span class="selected-item" *ngFor="let role of roles.value">
                    {{ role }}
                    <span class="remove" (click)="removeRole(role)">×</span>
                </span>
                </div>
            
                <div class="dropdown-toggle" (click)="toggleDropdown()" #dropdown>
                <span>Select Roles</span> 
                <i class="fa-solid fa-angle-down"></i>
                </div>
            
                <ul class="dropdown-list" *ngIf="dropdownOpen">
                <li *ngFor="let role of roless" 
                    [class.selected]="isSelected(role.toUpperCase())"
                    (click)="selectRole(role.toUpperCase())">
                    {{ role }}
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-container">
        <input type="reset" value="Reset" class="delete-btn" (click)="onReset($event)">
        <input type="submit" value="Create" class="success-btn" (click)="onSubmit()">
    </div>
    </form>
</div>