.user-card {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-card-content {
  display: flex;
  flex-direction: column;
}

.user-card-content h4 {
  color: #555;
}

.user-card-content p {
  color: #6c6c6c;
  font-size: 14px;
}

.user-card-img-container,
.user-card-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: large;
}
