<div class="container">
    <div class="leave-request-card" [formGroup]="leaveForm">
        <div class="leave-request-card-header">
            <h2>Leave Request</h2>
        </div>
        <div class="line"></div>
        <div class="leave-request-content-container">
            <div class="leave-request-content">
            <div class="input-container">
                <label>Leave Policy</label>
                <select formControlName="leaveType">
                    <option>Sick Leave</option>
                    <option>Casual Leave</option>
                    <option>Loss of Pay</option>
                    <option>Work from Home</option>
                </select>
            </div>
            <div>
                <h4>When</h4>
                <div class="date-container">
                    <div class="input-container">
                        <label>Start Date</label>
                        <input type="date" [min]="today" formControlName="startDate">
                    </div>
                    <div class="input-container">
                        <label>End Date</label>
                        <input type="date" [min]="leaveForm.controls['startDate'].value" formControlName="endDate">
                    </div>
                </div>
                <div class="date-container" *ngIf="isSameDate">
                    <div class="input-container">
                        <label>Duration</label>
                        <select formControlName="duration" (change)="isHalfDay()">
                            <option>Half Day</option>
                            <option>Full Day</option>
                        </select>
                    </div>
                    <div class="input-container" *ngIf="leaveForm.get('duration')?.value === 'Half Day'">
                        <label>Session</label>
                        <select formControlName="session">
                            <option>Forenoon</option>
                            <option>Afternoon</option>
                        </select>
                    </div>

                </div>
                <div class="date-container" *ngIf="!isSameDate">
                    <div class="input-container">
                        <label>Start Duration</label>
                        <select formControlName="startDuration">
                            <option>Half Day</option>
                            <option>Full Day</option>
                        </select>
                    </div>
                    <div class="input-container">
                        <label>End Duration</label>
                        <select formControlName="endDuration">
                            <option>Half Day</option>
                            <option>Full Day</option>
                        </select>
                    </div>
    
                </div>
            </div>
            <div class="input-container">
                <label>Supporting Text</label>
                <textarea formControlName="supportText"></textarea>
            </div>
            <div>
                <label>Attach Document</label>
                <input type="file">
            </div>
            <div>
                <input type="submit" value="Submit" class="login-btn" (click)="onSubmit()">
            </div>
        </div>
        </div>
    </div>
    <div class="con1">10</div>
</div>