<div class="container">
    <div class="leave-request-card">
        <div class="leave-request-card-header">
            <h2>Leave Request</h2>
        </div>
        <div class="line"></div>
        <div class="leave-request-content-container">
            <div class="leave-request-content">
        </div>
            <div class="input-container">
                <label>Leave Policy</label>
                <select>
                    <option>Sick Leave</option>
                    <option>Casual Leave</option>
                    <option>Loss of Pay</option>
                    <option>Work from Home</option>
                </select>
            </div>
            <div>
                <h4>When</h4>
                <div class="date-container">
                    <div class="input-container">
                        <label>Start Date</label>
                        <input type="date">
                    </div>
                    <div class="input-container">
                        <label>End Date</label>
                        <input type="date">
                    </div>
                </div>
                <div class="input-container">
                    <label>Duration</label>
                    <select>
                        <option>Half Day</option>
                        <option>Full Day</option>
                    </select>
                </div>
                <div class="date-container">
                    <div class="input-container">
                        <label>Start Duration</label>
                        <select>
                            <option>Half Day</option>
                            <option>Full Day</option>
                        </select>
                    </div>
                    <div class="input-container">
                        <label>End Duration</label>
                        <select>
                            <option>Half Day</option>
                            <option>Full Day</option>
                        </select>
                    </div>
    
                </div>
            </div>
            <div class="input-container">
                <label>Supporting Text</label>
                <textarea></textarea>
            </div>
            <div>
                <label>Attach Document</label>
                <input type="file">
            </div>
            <div>
                <input type="submit" value="Submit" class="login-btn">
            </div>
        </div>
    </div>
    <div class="con1">10</div>
</div>