<div class="user-profile">
    <div class="user-profile-header">
        <div class="user-profile-header-data">
            <h1>{{userData.firstName + " " + userData.lastName}}</h1>
            <p>{{userData.designation}}</p>
            <p>{{userData.department}}</p>
        </div>
        <div class="user-profile-header-img-container">
            <img [src]="getProfileImage() ?? 'no-image.jpg'">
            <div class="change-profile">
                <input id="file-input" type="file" accept="image/*" (change)="onFileSelected($event)">
                <label for="file-input">
                    <i class="fa-solid fa-pen"></i>
                </label>
            </div>
        </div>
    </div>
    <div class="user-profile-data">
        <div>
            <h4>ID</h4>
            <p>{{userData.id}}</p>
        </div>
        <div>
            <h4>First Name</h4>
            <p>{{userData.firstName}}</p>
        </div>
        <div>
            <h4>Last Name</h4>
            <p>{{userData.lastName}}</p>
        </div>
        <div>
            <h4>Email</h4>
            <p>{{userData.email}}</p>
        </div>
        <div>
            <h4>Department</h4>
            <p>{{userData.department}}</p>
        </div>
        <div>
            <h4>Designation</h4>
            <p>{{userData.designation}}</p>
        </div>
        <div>
            <h4>Start Date</h4>
            <p>{{userData.dateOfJoining}}</p>
        </div>
        <div>
            <h4>Date of Birth</h4>
            <p>{{userData.dateOfBirth}}</p>
        </div>
        <div>
            <h4>Reports To</h4>
            <app-avatar [userData]="userData.manager"></app-avatar>
        </div>
    </div>
</div>
