<div class="user-profile">
    <div class="user-profile-header">
        <div class="user-profile-header-data">
            <h1>Dayanithi E K</h1>
            <p>Trainee</p>
            <p>Engineering</p>
        </div>
        <div class="user-profile-header-img-container">
            <img src="profile.jpg">
            <div class="change-profile">
                <i class="fa-solid fa-pen"></i>
            </div>
        </div>
    </div>
    <div class="user-profile-data">
        <div>
            <h4>Department</h4>
            <p>Engineering</p>
        </div>
        <div>
            <h4>Start Date</h4>
            <p>02/01/2022</p>
        </div>
        <div>
            <h4>Reports To</h4>
            <app-avatar [userData]="userData"></app-avatar>
        </div>
    </div>
</div>
