<div class="user-profile-card">
    <div class="user-profile-card-header">
        <div class="user-profile-card-header-img">
            <img src="profile.jpg">
        </div>
        <div class="user-profile-card-header-data">
            <h1>Dayanithi E K</h1>
            <p>dayanithi1224</p>
        </div>
    </div>
    <div class="user-profile-card-main">
        <div>
            <h4>Department</h4>
            <p>Engineering</p>
        </div>
        <div>
            <h4>Designation</h4>
            <p>Trainee</p>
        </div>
        <div>
            <h4>Start Date</h4>
            <p>02/09/2025</p>
        </div>
        <div>
            <h4>Date of Birth</h4>
            <p>23/2/2002</p>
        </div>
        <!-- <div>
            <h4>Reports To</h4>
            <app-avatar [userData]="userData.manager"></app-avatar>
        </div> -->
    </div>
</div>