<div class="user-profile-card">
    <div class="user-profile-card-header">
        <div class="user-profile-card-header-img">
            <img src="profile.jpg">
        </div>
        <div class="user-profile-card-header-data">
            <h3>Dayanithi E K</h3>
            <p>dayanithi1224</p>
        </div>
    </div>
    <div class="user-profile-card-main">
        <div>
            <h4>Department</h4>
            <p>Engineering</p>
        </div>
        <div>
            <h4>Designation</h4>
            <p>Trainee</p>
        </div>
        <div>
            <h4>Start Date</h4>
            <p>02/09/2025</p>
        </div>
        <div>
            <h4>Reports To</h4>
            <!-- <app-avatar [userData]="userData.manager"></app-avatar> -->
        </div>
    </div>
    <span class="close-btn" (click)="onClose()"><i class="fa-solid fa-close"></i></span>
</div>