<div class="user-profile-card">
    <div class="user-profile-card-header">
        <div class="user-profile-card-header-img">
            <div class="profile" [ngStyle]="{'background-color': avatarBgColor}">
                {{userData?.firstName.charAt(0).toUpperCase() + userData?.lastName.charAt(0).toUpperCase()}}
            </div>
        </div>
        <div class="user-profile-card-header-data">
            <h3>{{userData?.firstName + ' ' + userData?.lastName}}</h3>
            <p>{{userData?.email}}</p>
        </div>
    </div>
    <div class="user-profile-card-main">
        <div>
            <h4>Department</h4>
            <p>{{userData?.department}}</p>
        </div>
        <div>
            <h4>Designation</h4>
            <p>{{userData?.designation}}</p>
        </div>
        <div>
            <h4>Start Date</h4>
            <p>{{userData?.dateOfJoining}}</p>
        </div>
        <div>
            <h4>Date of Birth</h4>
            <p>{{userData?.dateOfBirth}}</p>
        </div>
        <div>
            <h4>Age</h4>
            <p>{{getTimeDuration(userData?.dateOfBirth)}}</p>
        </div>
        <div>
            <h4>Tenure</h4>
            <p>{{getTimeDuration(userData?.dateOfJoining)}}</p>
        </div>
        <div>
            <h4>Reports To</h4>
            <app-avatar [userData]="userData?.manager" *ngIf="userData?.manager"></app-avatar>
            <p *ngIf="!userData?.manager"> - </p>
        </div>
    </div>
    <span class="close-btn" (click)="onClose()"><i class="fa-solid fa-close"></i></span>
</div>