<div class="balance-container">
    <div *ngFor="let leave of leavePolicy?.leaves; let i = index" class="leave-card">
        <div class="leave-card-header" [style.background-color]="colors.at(i % colors.length)">
            <h2>{{leave.name}}</h2>
        </div>
        <div class="leave-card-body">
            <table class="leave-card-table">
                <tr>
                    <th class="leave-card-table-cell"></th>
                    <th class="leave-card-table-cell">Acquired</th>
                    <th class="leave-card-table-cell">Balance</th>
                </tr>
                <tr *ngFor="let detail of leave.details">
                    <th class="leave-card-table-cell">{{detail.duration}}</th>
                    <td class="leave-card-table-cell">1</td>
                    <td class="leave-card-table-cell">{{detail.noOfDays}}</td>
                </tr>
            </table>
        </div>
        <div class="fill"></div>
    </div>
</div>