<div class="balance-container">
    <div class="leave-card casual-leave-card">
        <div class="leave-card-header" style="background-color: #8282ff;">
            <h2>CASUAL LEAVE</h2>
        </div>
        <div class="line"></div>
        <div class="leave-card-body">
            <div class="leave-card-table">
                <span></span>
                <h4>Taken</h4>
                <h4>Balance</h4>
                <p>This Year</p>
                <span>1</span>
                <span>11</span>
                <p>This Month</p>
                <span>1</span>
                <span>0</span>
            </div>
        </div>
        <div class="fill" style="background-color: #8282ff;"></div>
    </div>
    <div class="leave-card sick-leave-card">
        <div class="leave-card-header" style="background-color: orange;">
            <h2>SICK LEAVE</h2>
        </div>
        <div class="line"></div>
        <div class="leave-card-body">
            <div class="leave-card-table">
                <span></span>
                <h4>Taken</h4>
                <h4>Balance</h4>
                <p>This Year</p>
                <span>1</span>
                <span>11</span>
                <p>This Month</p>
                <span>0</span>
                <span>1</span>
            </div>
        </div>
        <div class="fill" style="background-color: orange;"></div>
    </div>
    <div class="leave-card work-from-home-card">
        <div class="leave-card-header" style="background-color: #008282;">
            <h2>WORK FROM HOME</h2>
        </div>
        <div class="line"></div>
        <div class="leave-card-body">
            <div class="leave-card-table">
                <span></span>
                <h4>Taken</h4>
                <h4>Balance</h4>
                <p>This Month</p>
                <span>1</span>
                <span>3</span>
                <p>This Week</p>
                <span>1</span>
                <span>1</span>
            </div>
        </div>
        <div class="fill" style="background-color: #008282;"></div>
    </div>
    <div class="leave-card loss-of-pay-card">
        <div class="leave-card-header" style="background-color: #ff5252;">
            <h2>LOSS OF PAY</h2>
        </div>
        <div class="line"></div>
        <div class="leave-card-body">
            <div class="leave-card-table">
                <span></span>
                <h4>Taken</h4>
                <h4>Balance</h4>
                <p>This Year</p>
                <span>1</span>
                <span>11</span>
                <p>This Month</p>
                <span>1</span>
                <span>1</span>
            </div>
        </div>
        <div class="fill" style="background-color: #ff5252;"></div>
    </div>
</div>