<div class="container" *ngIf="isLoaded" >
    <div class="container-header">
        <h1>People</h1>
        <button class="request-btn" routerLink="../create-user" *ngIf="isAdmin">Add Employee</button>
    </div>
    <div class="user-list-container" [ngClass]="isProfile ? 'active' : ''">
        <div class="user-list-header">
            <p>Total : {{responseData.totalElements}}</p>
        </div>
        <div class="user-table-container">
            <div class="user-table-fixed">
                <div class="user-table-row"></div>
                <div *ngFor="let user of responseData.content" class="user-table-row">
                    <div class="user-card-container">
                        <app-avatar [userData]="user" (click)="loadProfile(user)" style="cursor: pointer;"></app-avatar>
                        <div class="view-container" *ngIf="isAdmin">
                            <div class="icon-container" (click)="updateUser(user)">
                                <i class="fa-solid fa-pen"></i>
                            </div>
                            <div class="icon-container" (click)="deleteUser(user.id)">
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-table-scrollable">
                <table class="user-table">
                    <tr class="user-table-row">
                        <th class="user-table-header user-table-cell">Name</th>
                        <th class="user-table-header user-table-cell">Department</th>
                        <th class="user-table-header user-table-cell">Designation</th>
                        <th class="user-table-header user-table-cell">Date of Joining</th>
                        <th class="user-table-header user-table-cell">Reports To</th>
                        <th class="user-table-header user-table-cell">Location</th>
                    </tr>
                    <tr *ngFor="let user of responseData.content; let i = index" class="user-table-row">
                        <td class="user-table-cell"> {{user.firstName + " " + user.lastName}} </td>
                        <td class="user-table-cell"> {{user.department}} </td>
                        <td class="user-table-cell"> {{user.designation}} </td>
                        <td class="user-table-cell"> {{user.dateOfJoining}} </td>
                        <td class="user-table-cell">
                            <app-avatar [userData]="user.manager" *ngIf="user.manager"></app-avatar>
                            <p *ngIf="!user.manager"> - </p>
                        </td>
                        <td class="user-table-cell"> {{user.location}} </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="user-list-footer">
            <div class="page-size-container">
                <div class="dropdown">
                <div class="dropdown-toggle" (click)="toggleDropdown()" #dropdown>
                    {{selectedSize.value}}
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                
                <ul class="dropdown-list" *ngIf="dropdownOpen">
                    <li *ngFor="let size of pageSizes" 
                        (click)="selectSize(size)">
                        {{ size }}
                    </li>
                </ul>
            </div>
                <label>Items Per Page</label>
            </div>
            <div class="page-traverse-container">
                <span>Page {{page + 1}} of {{responseData.totalPages}}</span>
                <div>
                  <i aria-hidden="true" class="fa fa-chevron-left track-btn" (click)="decrementPage()"></i
                  ><i aria-hidden="true" class="fa fa-chevron-right track-btn" (click)="incrementPage()"></i>
                </div>
        </div>
    </div>
</div>

<div class="user-profile" [ngClass]="isProfile ? 'active' : ''">
    <app-user-profile [userData]="selectedUser" (closeEvent)="onClose()"></app-user-profile>
</div>

