.form-container {
  /* background-color: #FF0080; */
  height: max-content;
  justify-items: center;
  align-content: center;
  overflow: hidden;
}

.form {
  padding: 40px 20px;
  height: max-content;
  width: 80%;
  border-radius: 16px;
  margin: 20px auto;
}

.form-input-container {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.radio-container {
  margin-top: 10px;
  display: flex;
  row-gap: 30px;
}

.radio-input-container {
  display: flex;
  align-items: center;
}

.radio-input-container label {
  cursor: pointer;
}

.form-input {
  margin-top: 5px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 10px;
}

.form-input:focus {
  border: 1px solid #ff0080;
  border-bottom: 2px solid #ff0080;
}

.btn-container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.multi-select {
  margin-top: 5px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  width: 320px;
}

.selected-item {
  background-color: #ff0080;
  color: white;
  height: 20px;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: smaller;
  display: flex;
  align-items: center;
}

.remove {
  margin-left: 5px;
  cursor: pointer;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.dropdown-list,
.dropdown-list-search {
  position: absolute;
  right: 0;
  top: 40px;
  width: 28.5%;
  border-radius: 6px;
  font-size: smaller;
  border: 1px solid #ccc;
  background: white;
  list-style: none;
}

.dropdown-list-search {
  max-height: 200px;
  overflow-y: scroll;
  width: 100%;
  top: 70px;
}

.dropdown-list-search::-webkit-scrollbar {
  display: none;
}

.dropdown-list li,
.dropdown-list-search li {
  padding: 5px;
  cursor: pointer;
}

.dropdown-list li:hover,
.dropdown-list li.selected {
  background: #ff0080;
  color: white;
}

.dropdown-list-search li:hover {
  background-color: #ccc;
}
