<div class="home-container">
    <div class="container1">
        <div class="birthday-container">
            <div class="birthday-header">
                <span>Birthdays</span>
            </div>
            <div class="birthday-card-overflow-container">
                <div class="birthday-card-container">
                    <div class="birthday-card" *ngFor="let _ of [1,2,3,4,5]">
                        <div class="fill">
                            <div class="img-container">
                                <img  src="profile.jpg">
                            </div>
                        </div>
                        <div class="birthday-card-content">
                            <p>Dayanthi E K</p>
                            <span>22/Mar</span>
                            <button class="request-btn">Send Wishes</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>